<div class="default-style">
  <dx-button
    text="Get All Filtered And Sorted Data"
    (onClick)="getFilteredAndSortedData()"
  >
  </dx-button>

  <dx-data-grid
    id="gridContainer"
    [dataSource]="orders"
    keyExpr="ID"
    [showBorders]="true"
  >
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
  </dx-data-grid>

  <br />
  <div class="title">Loaded data</div>
  <br />

  <dx-data-grid [dataSource]="filteredData" keyExpr="ID" [showBorders]="true">
  </dx-data-grid>
</div>
